html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Lexend Exa', sans-serif; /* Apply the font globally */
}

.App {
  font-family: 'Lexend Exa', sans-serif; /* Ensure the font is applied here as well */
}
